<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="STXQL24Dv-k37XbAkQxuZtmPGIjXkisaWJ5pSLENuXg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ url_for('static',filename='script/nav_bar.js')}}"></script>
    <link rel="shortcut icon" href="{{url_for('static',filename='image/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <title>{% block title %} {% endblock title %} - MorseCodeTranslater</title>
    <script data-ad-client="ca-pub-4818170421440239" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode({ width:150px }).showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>

</head>

{% block body %} {% endblock body %}

<div class="topnav" id="myTopnav">
    <a id="Home" href="/">Home</a>
    <a id="about" href="/about">About</a>
    <a id="privacy" href="/PrivacyPolicy">Privacy Policy</a>
    <a id="github" href="https://github.com/Nktech-Official/MorseCodeTranlator.git" target="_blank">Source Code - github</a>
    <a href="https://github.com/Nktech-Official/MorseCodeTranlator/issues" target="_blank">Report issue/bug</a>
    <a href="javascript:void(0);" class="icon" onclick="repo_nav()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div class="content">
    {% block content %}{% endblock content %}
</div>
<!-- <div class="push"></div>
<div class="footer">
    footer
</div> -->

</body>

</html>
