<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ url_for('static',filename='script/nav_bar.js')}}"></script>
    <link rel="shortcut icon" href="{{url_for('static',filename='image/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <title>{% block title %} {% endblock title %} - MorseCodeTranslater</title>
</head>

{% block body %} {% endblock body %}

<div class="topnav" id="myTopnav">
    <a id="Home" href="/">Home</a>
    <a id="about" href="/about">About</a>
    <a id="privacy" href="/PrivacyPolicy">Privacy Policy</a>
    <a href="javascript:void(0);" class="icon" onclick="repo_nav()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div class="content">
    {% block content %}{% endblock content %}
</div>
<!-- <div class="push"></div>
<div class="footer">
    footer
</div> -->

</body>

</html>