{% extends 'base.html' %} {% block title %} Home{% endblock title %} {% block body %}

<body onload="active('Home')">
    {% endblock body %} {% block content %}
    <br/>
    <div class="container">
        <form action="{{url_for('Home')}}" method="POST">

            <div class="row">
                <div class="col-25">
                    <label for="subject">Enter Message to Encode</label>
                </div>
                <div class="col-75">
                    <textarea id="code" name="code" placeholder="Type text to translate.... " style="height:80px">{{code}}</textarea>
                </div>
            </div>
            <br/>
            <div class="row">
                <button id="submit" type="submit" value="Submit">Submit</button>
            </div>
            <br/>
            <div class="row">
                <div class="col-25">
                    <label for="subject">Morce code</label>
                </div>
                <div class="col-75">
                    <textarea disabled id="output" placeholder="Morse code appear here..... '/' means &lt;space&gt; or New word and '|' means new line" name="output" style="padding: 12px;">{{str}}</textarea>
                </div>
            </div>


        </form>
        {% endblock content %}